@import './styles/variables.module';

.bannerContainer {
  background-color: $yellow;

}

.textContainer {
  flex-wrap: wrap;
  padding: 100px 25px 85px;
  position: relative;
  @media screen and (max-width: 700px) {
    padding: 40px 25px 50px;
  }
}

.logoBlock {
  flex: 0 0 auto;
  width: 100%;

  .bannerTitle {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
    align-items: end;
    @media screen and (max-width: 700px) {
      margin-bottom: 48px;
    }

    .typingText {
      position: relative;
      height: fit-content;
      bottom: 15px;
      margin-left: 20px;
      font-family: 'Gambetta', sans-serif;
      font-weight: 300;
      font-size: 90px;

      @media screen and (max-width: 1300px) {
        font-size: 65px;
        bottom: 25px;
      }

      @media screen and (max-width: 1000px) {
        flex: 0 0 auto;
        width: 100%;
        margin-left: 0;
        top: 0;
      }

      @media screen and (max-width: 700px) {
        font-size: 40px;
      }

      @media screen and (max-width: 450px) {
        font-size: 30px;
      }
    }
  }
}

.logo {
  width: 340px;
  height: auto;
  @media screen and (max-width: 700px) {
    width: 150px;
  }
}

.youllImage {
  position: absolute;
  right: 25px;
  bottom: -282px;
  @media screen and (max-width: 1300px) {
    display: none;
  }
}

.textBlock {
  @media screen and (min-width: 1300px) {
    width: 58%;
  }
}

.textWrap {
  white-space: nowrap;
}
